.pop-up__input {
  min-height: 27px;
  min-width: 358px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0 0 10px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
}

.pop-up__field:first-of-type > .pop-up__input {
  margin-bottom: 35px;
}

.pop-up__field:last-of-type > .pop-up__input {
  margin-bottom: 48px;
}

@media screen and (max-width: 700px) {
  .pop-up__input {
    margin-bottom: 45px;
    min-width: 0;
  }
  .pop-up__field:last-of-type > .pop-up__input {
    margin-bottom: 38px;
  }
}

.pop-up__input:focus {
  background-color: white;
}
