.card__like-button {
  height: 19px;
  width: 22px;
  background: none;
  background-image: url(../../../images/card__like-inactive.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.card__like-button:hover {
  opacity: 0.5;
}