.header__email {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 680px) {
  .header__email {
    display: none;
  }
}