.pop-up__figure {
  max-height: 75vh;
  max-width: 75vw;
  padding-top: 40px;
  padding-right: 8px;
  margin: 0;
  opacity: 1;
}

@media screen and (max-width: 560px) {
  .pop-up__figure {
    padding: 0;
  }
}