.header__button {
  height: min-content;
  background: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .header__button {
    display: none;
  }
}